* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', serif;
    font-weight: lighter;
    background-color: #2c3e50; /* deep blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.score {
    text-align: right;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

.quiz-box {
    background-color:#eeeeee; /* light gray */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: left;
    color: #3b546c; /* dark blue */
}

h2 {
    margin-top: 10px;
    text-align: left;
    color: #3b546c; /* dark blue */
    margin-right: 35%;

}

.question {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #000000a3; /* dark blue */
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.actions {
    display: flex;
    flex-wrap:nowrap;
    gap: 20px;
    justify-content: left;

}


.option {
    width: 45%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    color: #eeeeee;
    cursor: pointer;
    background-color: rgba(255, 140, 0, 0.878); /* orange */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.action {
    background-color: #34495e; /* gray */
    width: 20%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    color: #eeeeee;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.actions {
    margin: 10px;
}

.option:hover, .action:hover {
    transform: scale(1.05);
}

.option:active {
    transform: scale(1);
}

.option.correct {
    background-color: #27ae60; /* green */
}

.option.incorrect {
    background-color: #c0392b; /* red */
}

.option.gray {
    background-color: #bdc3c7; /* light gray */
}
